<br><br>
<br>
<!-- *ngIf="!isAuthenticated" -->

<form #loginForm="ngForm" (ngSubmit)="login()">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto" style="margin-top: 80px;">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h4 class="card-title text-center text-muted">Giriş Ekranı</h4>
                        <br />
                        <div class="form-label-group">
                            <input class="form-control mr-sm-2" type="email" name="Email"
                                [(ngModel)]="userLogin.Email" placeholder="Email" required />
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input class="form-control mr-sm-2" type="password" name=Password
                                [(ngModel)]="userLogin.Password" placeholder="Sifre" required />
                        </div>
                        <br /><br />
                        <button class="btn btn-lg btn-success btn-block text-uppercase" [disabled]="!loginForm.valid"
                            type="submit">Giriş Yap</button>
                           
                        <hr class="my-4">
                         
                        <button  type="button" class="btn btn-link btn-block" (click)="goToRegister()" >Hesabın Yok Mu? Kayıt Ol</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>